body{
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    color: #2E2F42;
    line-height: 24px;
    letter-spacing: 2%;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

h2{
    text-align: center;
    padding: 35px;
}

.main-header{
    overflow: auto;
    margin: 0;
    padding: 5px;
    border-bottom: 2px solid #E7E9FC;
}

.header-logo {
    position: absolute;
    margin-top: 18px;
    margin-left: 100px;
}

.header-ul{
    padding: 0;
    margin: 0 0 0 280px;
    list-style-type: none;
}

.header-ul li {
    float: left;
}

.header-nav>.header-ul a{
    font-weight: bolder;
}

.header-ul a{
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    text-align: center;
    color: #2E2F42;
}

.header-address{
    float: right;
    overflow: hidden;
    margin-right: 90px;
    text-align: center;
    font-style: normal;
}

.header-ul a:hover, .header-ul a:focus{
    color: #404BBF;
    border-bottom: 2px solid #404BBF;
    padding: auto;
}

.header-ul a>.header-tel-num{
    text-align: center;
}

.hero-section{
    background-color: #2e2f42f0;
    height: 650px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-heading{
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 2%;
    color: white;
    padding: 80px;
    margin-top: 0;
    
}

.hero-button{
    background-color: #4D5AE5;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 27px;
    font-size: 16px;
    font-weight: medium;
    line-height: 24px;
    letter-spacing: 4%;
    margin-top: 10em;
    position: absolute;
    box-shadow: 0px 4px 4px 0px #2E2F42;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}

button:hover, button:focus{
    background-color: #404BBF;
}

.features-section-list{
    align-items: center;
    margin: 80px 90px;
}

.features-section-list li{
    width: 250px;
    padding: 30px;
    display: inline-block;
    justify-content: center;
    list-style-type: none;
}

.what-we-do-section ul{
    margin-left: 85px;
    margin-bottom: 120px;
}

.what-we-do-section-list li{
    display: inline-block;
    justify-content: center;
    padding: 0 10px;
}

.team-section{
    background-color: #F4F4FD;
    padding: 2px 20px;
}

.team-card-section li{
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
    width: 20em;
    display: inline-block;
    justify-content: center;
    margin: 50px 0 80px 25px;
}

.team-card-section li img{
    width: 20em;
}

/*--Portfolio--*/
.portfolio-buttons li{
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px 10px;
}

.portfolio-button{
    color: #4D5AE5;
    background-color: #F4F4FD;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    border: none;
    border-radius: 6px;
    padding: 10px 35px;
}

.portfolio-main-buttons{
    margin-top: 30px;
    margin-left: 23%;
    padding: 10px;
}

.active, .portfolio-button:hover, 
.portfolio-button:focus{
    background-color: #404BBF;
    color: #fff;
}

.portfolio-main-contents li{
    list-style-type: none;
}

/*--End of Portfolio-*/

/*--Footer-*/
footer {
    background-color: #2E2F42;
    color: #fff;
    height: 300px;
}

footer img {
    padding: 40px 0 0 30px;
    margin: 30px 0 0 80px;
}

footer p {
    width: 17%;
    padding: 0 60px;
    margin: 15px 0 0 50px;
}

/*--End of Footer-*/